<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ActiveMQ_user" value="admin"/>
    <add key="ActiveMQ_pwd" value="password"/>
    <add key="ActiveMQ_host" value="192.168.12.53"/>
    <add key="ActiveMQ_port" value="61616"/>
    <add key="ActiveMQ_topic" value="Info_Transport"/>  
  </appSettings>
</configuration>